/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.form-group{
  border-radius:50px;
  overflow:hidden;
  margin-bottom:0;
}
.form-control, .btn-round{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
#header{
  &.transparent-header-cti {
    /* Rectangle: */
    background-color: #1C8EA5 !important;
  }
}
#content{
  .post-grid{
    .entry-title{
      h2{
        font-size: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .entry{
      p{
        text-align:justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .entry-image{
      a{
        max-height:124px;
        overflow:auto;
      }
    }
  }
}
#content{
  .postcontent{
    .single-post{
      p{
        text-align:justify;
      }
    }
  }
}
.related-posts{
  .mpost{
    .entry-image{
      height:auto;
      img{
        height:auto;
      }
    }
    .entry-content{
      text-align:justify;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}