#mobile-profile-img {
  display: block !important;
}

#logout-form {
  display: none;
}

input[readonly=true],
input[readonly] {
  background-color: white !important;
}

.panel-item-file > .panel-heading > .item-file-title {
  font-size: 1.2em;
}

.panel-item-file > .panel-heading > .fa,
.panel-item-file > .panel-heading .fa {
  font-size: 1.5em;
  cursor: pointer;
}

.panel-item-file > .panel-heading > .btn-delete-item-file {
  color: red;
}

.panel-item-file > .panel-heading .btn-view-item-file {
  color: black;
}

.btn-delete,
.fa.fa-trash-o {
  color: red;
}

#mobile-profile-img {
  display: block !important;
}

#logout-form {
  display: none;
}

input[readonly=true],
input[readonly] {
  background-color: white !important;
}

.panel-item-file > .panel-heading > .item-file-title {
  font-size: 1.2em;
}

.panel-item-file > .panel-heading > .fa,
.panel-item-file > .panel-heading .fa {
  font-size: 1.5em;
  cursor: pointer;
}

.panel-item-file > .panel-heading > .btn-delete-item-file {
  color: red;
}

.panel-item-file > .panel-heading .btn-view-item-file {
  color: black;
}

.btn-delete,
.fa.fa-trash-o {
  color: red;
}

.container {
  padding: 8px;
}

.folder {
  background: #353b48;
  padding: 15px 20px;
  color: white;
  border-radius: 8px;
  position: relative;
  z-index: 6;
}

.folder h4 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-weight: lighter;
  display: block;
}

.list-items {
  padding: 0;
  width: 100%;
  position: relative;
}

.list-items li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list-items li .img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid darkgrey;
  float: left;
  position: relative;
  z-index: 2;
  margin: 10px 15px;
  display: inline-block;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.94);
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.94);
}

.list-items li img {
  width: auto;
  height: 100%;
}

.list-items li:first-child:before {
  display: inline-block;
  position: absolute;
  content: " ";
  height: 80px;
  top: -35px;
  left: 27px;
  z-index: 1;
  border-left: 1px solid #778ca3;
}

.list-items li:before {
  display: inline-block;
  position: absolute;
  content: " ";
  height: 80px;
  top: -55px;
  left: 27px;
  z-index: 1;
  border-left: 1px solid #778ca3;
}

.list-items li:after {
  display: block;
  content: " ";
  clear: both;
}

.list-items li:after:not(.list-items li:last-child:first-child) {
  display: inline-block;
  position: absolute;
  content: " ";
  height: 70px;
  top: -40px;
  left: 27px;
  z-index: 1;
  border-left: 1px solid #778ca3;
}

.list-items li a {
  width: 90%;
  float: left;
  text-decoration: none;
  font-family: 'Helvetica';
  word-spacing: -0.5px;
  padding: 15px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.list-items li button {
  padding: 4px 4px;
  line-height: 4px;
  background: #8b8b8b;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  margin: 15px 5px;
}

.display {
  display: inline-block !important;
  visibility: visible !important;
}

.invisible span {
  display: block;
}

.visible {
  display: inline-block !important;
}

.list-items li a span label {
  color: #2f3640 !important;
  display: inline-block;
  float: right;
  color: grey;
}

.list-items li a span {
  color: #747d8c;
}

.load-files {
  margin-left: 8px;
  display: block;
  background: transparent;
  border-style: none;
  color: #555;
}

.load-files i {
  font-size: 20pt;
}

/*  */

.btn-header span {
  position: relative;
}

.btn-header .badges {
  position: absolute;
  background: #e73c3c;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 25%;
  right: -10px;
  top: -15px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  color: white;
}

/* Notifications */

.notification-box {
  margin: 20px 4px;
  width: 360px;
  height: 400px;
  background: white;
  border: 1px solid grey;
  border-radius: 8px;
  position: absolute;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: notif-out 300ms forwards;
          animation: notif-out 300ms forwards;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  right: -12px;
  opacity: 0;
}

.notification-container {
  position: relative;
}

.notif-in {
  display: block;
  -webkit-animation: notif-in 500ms forwards !important;
          animation: notif-in 500ms forwards !important;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.notification-box:before {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  padding: 0;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  right: 11px;
  top: -20px;
}

/* Notification head */

.notification-head {
  width: 100%;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 5px 0;
  color: grey;
}

/* Notification content */

.notification-content {
  padding: 0;
  margin: 0;
  overflow: auto;
}

.notification-container {
  max-height: 340px;
  height: 340px;
  overflow: auto;
}

.notification-container h4 {
  position: absolute;
  top: 50%;
  color: #585757;
  left: 50%;
  text-align: center;
  padding: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.notification-content .notification-list {
  height: 65px;
  border-bottom: 0.5px solid lightgrey;
  padding: 5px 8px;
  position: relative;
  /* transition : 0.5s ease-in-out; */
}

.unread {
  background: #ece8e8   !important;
}

.notification-content .notification-list:hover {
  background: rgba(0, 0, 0, 0.05);
  /* transition : .5s ease-in-out; */
}

.height {
  height: 145px !important;
  /* transition : height 0.5s ease-in-out; */
  -webkit-box-shadow: inset 0 -3px 10px 0 rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 -3px 10px 0 rgba(0, 0, 0, 0.14);
}

.notification-content .notification-list .img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.notification-content .notification-list .img img {
  height: 45px;
}

.notification-content .notification-list a {
  width: 74%;
  margin: 5px 7px;
  text-align: left;
  float: left;
  display: none;
  opacity: 0;
  font-size: 12px;
  overflow: hidden;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  color: #2d3436;
}

.visible {
  opacity: 1 !important;
  display: inline-block !important;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.notification-content .notification-list a:first-letter {
  font-weight: bold;
}

.notification-content .notification-list a:hover {
  text-decoration: none;
}

.notification-content .notification-list button {
  /*   float : left; */
  position: absolute;
  right: 0;
  top: 20px;
  margin: 4px 0;
  padding: 4px 8px;
  background: transparent;
  border: none;
  text-align: right;
}

.notification-content .notification-list button:focus {
  outline: none;
}

.notification-content .notification-list button i.glyphicon {
  font-size: 15px !important;
}

.notification-content .notification-list span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: block;
  text-align: center !important;
  clear: both;
  position: absolute;
  bottom: 5px;
  right: 0;
  left: 0;
  color: #999;
}

.notification-content .notification-list:after {
  content: " ";
  display: block;
  clear: both;
}

/* Notification footer */

.notification-footer {
  position: absolute;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid grey;
  bottom: 0;
  left: 0;
  right: 0;
}

.notification-footer a {
  color: #636e72;
  font-weight: bold;
}

@-webkit-keyframes notif-in {
  0% {
    -webkit-transform: scale(0) scaleY(0);
            transform: scale(0) scaleY(0);
  }

  50% {
    -webkit-transform: scale(1.05) scaleY(1.05);
            transform: scale(1.05) scaleY(1.05);
  }

  100% {
    -webkit-transform: scale(1) scaleY(1);
            transform: scale(1) scaleY(1);
    opacity: 1;
  }
}

@keyframes notif-in {
  0% {
    -webkit-transform: scale(0) scaleY(0);
            transform: scale(0) scaleY(0);
  }

  50% {
    -webkit-transform: scale(1.05) scaleY(1.05);
            transform: scale(1.05) scaleY(1.05);
  }

  100% {
    -webkit-transform: scale(1) scaleY(1);
            transform: scale(1) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes notif-out {
  0% {
    -webkit-transform: scale(1) scaleY(1);
            transform: scale(1) scaleY(1);
  }

  100% {
    -webkit-transform: scale(0) scaleY(0);
            transform: scale(0) scaleY(0);
  }
}

@keyframes notif-out {
  0% {
    -webkit-transform: scale(1) scaleY(1);
            transform: scale(1) scaleY(1);
  }

  100% {
    -webkit-transform: scale(0) scaleY(0);
            transform: scale(0) scaleY(0);
  }
}

/* Notification page */

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-collapse: collapse;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center; */
}

.notification .notif-img {
  display: inline-block;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.notification .notif-img img {
  height: 100%;
  width: auto;
}

.notification a {
  display: inline-block;
  margin: 0 10px;
  /* align-self: flex-end; */
  float: left;
  text-align: left;
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.notification span {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 15px 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  /* text-align: right; */
}

/* Item views */

textarea {
  resize: none;
}

.cover {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 6;
}

.img-cover {
  -webkit-box-shadow: inset 0px -126px 232px -100px rgba(0, 0, 0, 0.91);
          box-shadow: inset 0px -126px 232px -100px rgba(0, 0, 0, 0.91);
  height: 250px;
  overflow: hidden;
}

.cover .img-cover .img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -4 !important;
}

.cover .cover-profile {
  position: absolute;
  z-index: 900;
  width: auto;
  height: auto;
  border: 4px solid white;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  bottom: -85px;
  right: 45px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
}

.cover .cover-profile img {
  width: 145px;
}

.title {
  margin: 0;
  width: 100%;
  height: auto;
  background: #2d3436;
  padding: 15px 28px;
}

.title h1 {
  color: #efefef;
  font-weight: 150;
  font-size: 2.5vw;
  text-align: justify;
  margin: 0;
  display: inline-block;
  max-width: 75%;
}

.title h4 {
  color: #b2bec3;
  display: block;
  margin: 7px 0 2px 0;
}

.title label {
  color: white;
  display: block;
  margin: 10px 0;
  padding: 0;
  font-weight: 150;
  font-size: 15px;
}

.title p {
  margin: 0;
  color: #636e72;
  font-size: 1em;
}

.item-files {
  padding: 0;
  max-width: 450px;
}

.item-files li {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.item-files li a {
  color: #e3e3e3;
  display: inline-block;
  padding: 5px 10px;
  background: #414141;
  width: 100%;
  border-radius: 0 0 8px 8px;
  font-size: 12px;
}

.item-files li span {
  display: inline-block;
  padding: 5px 8px;
  background: -webkit-gradient(linear, right top, left top, from(#00b894), to(#00cec9));
  background: linear-gradient(to left, #00b894, #00cec9);
  color: white;
  font-size: 4em;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.summary,
.summary p,
span {
  display: inline;
  text-align: justify !important;
}

.container-fluid {
  background: white;
}

.form-control:-moz-read-only {
  background: #eee !important;
  color: #555 !important;
}

.form-control:read-only {
  background: #eee !important;
  color: #555 !important;
}

/*  */

.trash-dialog {
  position: absolute;
  height: auto;
  width: 150px;
  background: white;
  right: 0;
  top: 30px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: none;
}

.trash-dialog::before {
  right: 5px;
  content: " ";
  display: block;
  position: absolute;
  /* background: red; */
  width: 0;
  height: 0;
  border-bottom: 9px solid white;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: -17px;
}

.trash-dialog ul {
  padding: 0;
  margin: 0;
}

.trash-dialog ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trash-dialog ul li a {
  display: inline-block;
  padding: 8px 15px;
  margin-top: 5px;
  width: 100%;
}

.trash-dialog ul li a:hover {
  background: rgba(0, 0, 0, 0.14);
}

.trash-dialog ul li:last-child a {
  margin-bottom: 5px;
}

.loading {
  background: rgba(0, 0, 0, 0.75);
  z-index: 6700;
  position: fixed;
  padding: 0;
  border-radius: 5px;
  color: white;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.45);
}

.loading-icon {
  font-size: 15px;
  padding: 5px 5px;
}

.loading-msg {
  color: white;
  padding: 5px 8px;
}

/*  */

#doc-img {
  margin: 0 auto;
}

#left-panel {
  background: -webkit-gradient(linear, left bottom, left top, from(#44a182), to(#72b659));
  background: linear-gradient(to top, #44a182, #72b659);
}

.page-footer {
  background: -webkit-gradient(linear, left top, right top, from(#7bc9af), to(#a4d493));
  background: linear-gradient(to right, #7bc9af, #a4d493);
}

#ribbon {
  background: #72b659 !important;
}

#ribbon .breadcrumb {
  color: white !important;
}

#header .fa,
#aside .fa,
.minifyme .fa {
  color: #5cb85c;
}

.login-info span a span {
  color: #efefef;
}

.login-info span a span:hover {
  color: #fff;
}

.minifyme {
  padding-left: 5px;
  background: white !important;
}

.minifyme:hover {
  background: #ededed !important;
}

.login-info {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.online {
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.online img {
  height: 100%;
  width: auto !important;
}

#show-shortcut div.online {
  overflow: hidden;
  width: 30px;
  height: 30px;
}

#show-shortcut div.online img {
  height: 100%;
  width: auto !important;
}

.login-info span {
  border: none;
}

#left-panel nav ul li a {
  color: white !important;
}

#left-panel nav ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#left-panel nav ul li a .fa {
  color: white !important;
}

#paging {
  display: none;
}

#btn-back {
  display: none;
}

.page-footer .row p {
  font-weight: bold;
  float: right;
}

